/* src/index.css or your global stylesheet */
body {
  background-color: #333; /* Dark gray color for the background */
  color: #e0e0e0; /* Light gray color for text */
  margin: 0; /* Remove default margin */
  font-family: 'NTR', sans-serif; /* Use NTR font */
}

header, footer {
  background-color: #333; /* Match the background color of the Hero section */
}

a {
  color: #e0e0e0; /* Link color */
  text-decoration: none; /* Remove underline from links */
}

a:hover {
  color: #00FFF0; /* Hover color for links */
}

section {
  background-color: #333; /* Dark gray background for sections */
}

/* src/index.css or your global stylesheet */
html {
  scroll-behavior: smooth; /* Enable smooth scrolling for all anchor links */
}
