/* src/components/ProjectsSection.css */
.projects-section {
  background-color: #333; /* Unified background color */
  color: #e0e0e0; /* Text color */
  padding: 20px;
}

.carousel-container {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.carousel-wrapper {
  width: 100%;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out; /* Smooth sliding effect */
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; /* Align items in a row */
}

.image-link {
  display: inline-block;
}

.carousel-image {
  width: 600px; /* Adjust the width as needed */
  max-width: 1000px; /* Set a maximum width */
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px;
  margin-right: 20px; /* Space between image and text */
}

.carousel-info {
  flex: 1; /* Take up remaining space */
  color: #e0e0e0; /* Text color */
  text-align: left; /* Align text to the left */
}

.carousel-button {
  background: transparent;
  border: none;
  color: #00FFF0; /* Button color */
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-button.left {
  left: 10px; /* Button position */
}

.carousel-button.right {
  right: 10px; /* Button position */
}
